/* Add a black background color to the top navigation */
.nav {
    background-color: #d6c912;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav ul li {
    display: inline;
    color:white;
    text-align: center;
    padding:  50px;
    text-decoration: none;
    font-size: 30px;
    padding-right:100px ;
  }
  .nav ul{
      text-align: center;
  }
  .nav ul li a{
    text-decoration: none;
    color: white;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .image {
      display: flex;
      font-size: large;
  }

  .intro {
      padding-top: 100px;
  }

  .about {
      text-align: center;
  }
  
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33%;
    padding: 3px;
  }

  .column1 {
    float: left;
    width: 20%;
    padding: 40px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .Projects {
      text-align: center;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  h1{
    text-align: center;
  }
  
  

  .con {
    text-align: center;
  }

  #Contacts {
    background-color: #d6c912;
  }

